<!doctype html>
<html>
<head>
	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

	<script src="{{ url_for('static', filename='leaflet.js') }}"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='leaflet.css') }}">
	<script src="{{ url_for('static', filename='iso8601.min.js') }}"></script>

	<script src="{{ url_for('static', filename='leaflet.timedimension.src.js') }}"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='leaflet.timedimension.control.css') }}">
	<script src="{{ url_for('static', filename='d3.js') }}"></script>
	<script src="{{ url_for('static', filename='dimple.v2.1.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='box.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='box.css') }}">
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      <li><a href="/">Map<span class="sr-only"></span></a></li>
      <li><a href="distributions">Distributions<span class="sr-only"></span></a></li>
      <li><a href="#">Link <span class="sr-only"></span></a></li>
      </ul>
      </div>
    </div>
  </div>
</nav>
{% block container%}
{% endblock %}
</body>