<!doctype html>
<html>
<head>
	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

	<script src="{{ url_for('static', filename='leaflet.js') }}"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='leaflet.css') }}">
	<script src="{{ url_for('static', filename='iso8601.min.js') }}"></script>

	<script src="{{ url_for('static', filename='leaflet.timedimension.src.js') }}"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='leaflet.timedimension.control.css') }}">
	<script src="{{ url_for('static', filename='d3.js') }}"></script>
	<script src="{{ url_for('static', filename='dimple.v2.1.6.min.js') }}"></script>
  <script src="{{ url_for('static', filename='box.js') }}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='box.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='MarkerCluster.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='MarkerCluster.Default.css') }}">
	<script src="{{ url_for('static', filename='leaflet.markercluster.js') }}"></script>

  <script src="{{ url_for('static', filename='jBox.js') }}"></script>
  <script src="{{ url_for('static', filename='jBox.min.js') }}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jBox.css') }}">
  <script src="{{ url_for('static', filename='sigma.js') }}"></script>

</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maps<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/">Japan - all</a></li>
            <li><a href="/cooccurrences"> Co-occurrences for a user</a></li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Histograms<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/distributions/accuracy">Accuracy</a></li>
            <li><a href="/distributions/altitude">Altitude</a></li>
            <li><a href="/distributions/country">Country</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Boxplots<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/boxplot/country">Time spent in each location - Countries</a></li>
          </ul>
        </li>
      </ul>
      </div>
    </div>
  </div>
</nav>
{% block container%}
{% endblock %}
</body>