{% extends "base.html" %}
{% block container %}

<div class="text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 
        {% if feature == "country" %}
        Countries
        {% else %}
        Nogle andre features
        {% endif %}
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu scrollable-menu" role="menu" style="max-height: 400px; overflow: hidden; overflow-y: auto;">
        {% if feature == "country" %}
          {% for country in all_countries %}
          <li><input type="checkbox" value="{{country}}" />&nbsp;{{country}}</li>
          {% endfor %}
        {% else %}
            <li><a href="/boxplot/country?test">hej</a></li>
        {% endif %}
        </ul>
    </div>
    <button type = "button" class = "choose_countries">Select</button>
</div>
<div id="chartContainer"></div>



<script type="text/javascript">

function getParameterByName(name) {
    var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
    return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
}

var w = 120,
     h = 500,
     m = [10, 50, 20, 50], // top right bottom left
     min = Infinity,
     max = -Infinity;
 
 var chart = d3.chart.box()
     .whiskers(iqr(1.5))
     .width(w - m[1] - m[3])
     .height(h - m[0] - m[2]);

var values = getParameterByName("values");
var url = "/data/boxplot/{{feature}}";
if (values != null)
  url+= "?values"+encodeURIComponent(values);

d3.json(url, function(data){
    var data = data["results"];
    feature = "{{feature}}";
    var countries_list = [];
    var max = 0;
    var min = 0;
    for (index in data)
    {
      var results = data[index]['results'];
      var names = data[index]['names'];
      var id = data[index]["id"];
      var current_max = Math.max.apply(Math, results);
      var current_min = Math.min.apply(Math, results);
      if (max < current_max)
        max = current_max;
      if (min > current_min)
        min = current_min;

      countries_list.push([results, names, id]);
    }
    console.log(countries_list);
    chart.domain([min, max]);
    
    var div = d3.select("#chartContainer").selectAll("svg")
        .data(countries_list)
        .enter().append("div").attr("style", "float:left");

    var svg = div.append("svg:svg")
            .attr("class", "box")
            .attr("width", w)
            .attr("height", h);

    var vis = svg.append("svg:g")
            .attr("transform", "translate(" + m[3] + "," + m[0] + ")")
            .call(chart);

    div.append("p").text(function(d) {return d[2]}).attr("style", "text-align:center");

        
    
    $('div#chartContainer > svg> g > circle').jBox('Tooltip', {
    getTitle: 'name',
    getContent: 'value'});

});
 
$(".choose_countries").click(function () {

    var names = [];

    $(':input:checked').each(function() {
        names.push($(this).val());
    });
    names_string = names.join(',');
    if (names_string==""){
        url_string = "/boxplot/country?";
    }
    else{
        url_string = "/boxplot/country?values="+encodeURIComponent(names_string);
    }
    window.location.href = url_string;
});


 function randomize(d) {
   if (!d.randomizer) d.randomizer = randomizer(d);
   return d.map(d.randomizer);
 }
 
 function randomizer(d) {
   var k = d3.max(d) * .02;
   return function(d) {
     return Math.max(min, Math.min(max, d + k * (Math.random() - .5)));
   };
 }
 
 // Returns a function to compute the interquartile range.
 function iqr(k) {
   return function(d, i) {
     var q1 = d.quartiles[0],
         q3 = d.quartiles[2],
         iqr = (q3 - q1) * k,
         i = -1,
         j = d.length;
     while (d[++i] < q1 - iqr);
     while (d[--j] > q3 + iqr);
     return [i, j];
   };
}
  </script>

{% endblock %}
