{% extends "base.html" %}
{% block container %}
<div id="chartContainer"></div>
<script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 1000);
    d3.json("/data/distributions/{{feature}}", function (data) {
      data = data["results"]
      var myChart = new dimple.chart(svg, data);
myChart.setBounds(70, 30, 420, 330)
var x = myChart.addMeasureAxis("y", "Count");
x.showGridlines = true;
x.addOrderRule("Number");
var y = myChart.addCategoryAxis("x", "Number");
var s = myChart.addSeries("{{feature}}", dimple.plot.bar);
s.lineWeight = 4;
s.lineMarkers = true;
var myLegend = myChart.addLegend(530, 100, 60, 300, "Right");
myChart.draw();
    });
  </script>
{% endblock %}