{% extends "base.html" %}
{% block container %}
	<div id="map"></div>
	<style>
		html, body { height: 100%; }
		 #map { height: 90%;}
	</style>
	<script type="text/javascript">
		var map = L.map('map', {
			center: [36, 138],
			zoom: 6,
			timeDimension: true,
			timeDimensionOptions: {
				timeInterval: "2015-09-01/2015-11-30",
				period: "PT20M"},
			timeDimensionControl: true,
			timeDimensionControlOptions: {
				playerOptions:
				{
					transitionTime: 125
				}
			}
			});
		var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
			attribution: '© OpenStreetMap contributors'
		}).addTo(map);

		$.getJSON("/data/geojson", function(data)
		{
			L.timeDimension.layer.geoJson(
			L.geoJson(data),
			{
				updateTimedimension: true,
				addlastPoint: true,
				duration: "PT12H"
			}
			).addTo(map);
		})

	</script>
{% endblock %}